// variables
$layout-white: white;
$layout-gray: rgb(45, 45, 45);
$layout-dark-turquoise: rgb(15, 40, 50);

// styles by element
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

// styles by class
.vm {
    margin: 0;
    width: 100%;
    height: 100%;
}

.cc {
    justify-content: center;
}

.sc {
    align-self: center;
}

.clip {
    color: transparent;
    background-clip: text;
    background-color: black;
    -webkit-background-clip: text;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.6);
}

// styles for flex & padding
.flex {
    display: flex;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-space {
    display: flex;
    align-content: space-between;
}

.flex-1 {
    flex: 1;
}

.flex-4 {
    flex: 4;
}

.flex-6 {
    flex: 6;
}

.pad-10 {
    padding: 10px;
}

// styles by id
