$layout-light: white;
$layout-dark: rgb(45, 45, 45);
$layout-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);

$layout-white: white;
$layout-gray: rgb(45, 45, 45);
$layout-light-blue:#1dacff8a;
$layout-dark-turquoise: rgb(15, 40, 50);

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 600px;
}

.view-max {
    margin: 0;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space {
    display: flex;
    align-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-1 {
    flex: 1;
}

.flex-3 {
    flex:3;
}

.flex-4 {
    flex: 4;
}

.flex-6 {
    flex: 6;
}

.self-center {
    align-self: center;
}

.content-center {
    justify-content: center;
}

.clip {
    color: transparent;
    background-clip: text;
    background-color: black;
    -webkit-background-clip: text;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.6);
}

.gradient-border {
    background-size: 0.1em 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0.5) 20%,
      hsla(0, 0%, 100%, 0.3) 80%,
      hsla(0, 0%, 100%, 0) 100%
    );
}









.cc {
    justify-content: center;
}

.sc {
    align-self: center;
}

.vm {
    margin: 0;
    width: 100%;
    height: 100%;
}

.vbox {
    display: flex;
    flex-direction: column;
}
.hbox {
    display: flex;
    flex-direction: row;
}