// styles by element
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
}

// styles by class
.vm {
    margin: 0;
    width: 100%;
    height: 100%;
}

// styles by id
#app {
    background-color: blue;
}

#main {
    background-color: red;
}
